.point-examples-container {
    display: flex;
    justify-content: center;
}

.point-examples {
    margin: 20px;
    padding: 40px;
    border-radius: 8px;
    background-color: #f4f4f4;
    max-width: 600px;
}

.receipt-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.9;
    max-width: 500px;
}

.example-section {}

.example-2 {
    margin-top: 40px;
}

.points-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
    font-size: 1.1rem;
    list-style-type: none;
    margin-bottom: 40px;
    text-align: left;
}

.points-list li {
    margin-top: 20px;
}

.example-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.example-code {
    text-align: left;
}

/* Point Breakdown Section */
.points-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.1rem;
    text-align: left;
    max-width: 500px;
}

.total-points {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.breakdown-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.breakdown-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breakdown-list li {
    margin-bottom: 10px;
}

.total-breakdown {
    font-weight: bold;
}